@model IEnumerable<string>
@{
    ViewBag.Title = "Play here";
}

<h2>Play here</h2>

@foreach (var fileName in Model)
{
    <video width="320" height="240" controls>
        <source src="~/Videos/@fileName" type="video/mp4">
    </video>
}
